.node_modules
node_modules
# Environment variable files
.env
.env.local
.env.*.local

misc.txt
node_modules

./secrets/*.json

./secrets/cdp_api_key.json
./secrets/google-services.json
secrets/*
misc
